@model IEnumerable<Empleado>
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-6 h1"><p>Empleados</p></div>
        <div class="col-6 text-end">
            <a class="btn btn-primary mt-3" asp-controller="Empleado" asp-action="Agregar">Agregar</a>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Fecha de nacimiento</th>
            <th>Sector</th>
            <th>Sueldo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(Empleado emp in Model){
            <tr>
                <td>
                    @Html.DisplayFor(m => emp.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(m => emp.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(m => emp.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(m => emp.Sector)
                </td>
                <td>
                    @Html.DisplayFor(m => emp.Sueldo)
                </td>
                <td>
                    <div class="container row justify-content-sm-evenly">
                        <a type="submit" asp-controller="Empleado" asp-action="Eliminar" asp-route-id="@emp.Id" class="btn btn-danger" style="width:40%">Eliminar</a>
                        <a type="submit" asp-controller="Empleado" asp-action="Editar" asp-route-id="@emp.Id" class="btn btn-secondary" style="width:40%">Editar</a>

                    </div>
                   
                </td>
            </tr>
        }
    </tbody>
</table>